<div class="col-md-2">
    <a href="/games/<%=gameName %>">
        <div class="image-holder">
            <img class="game-poster-potrait" src="../<%= imagePath %>" alt="<%= gameName %>">
            <span class="game-price">$<%= price %></span>
        </div>
        <div class="game-name">
            <span class="main"><%= gameName %></span>
        </div> 
    </a> 
</div>