<div class="col-md-3">
    <a href="/games/<%=gameName %>">
        <div class="image-holder">
            <img class="gameposter-landscape" src="../<%=imagePath%>" alt="<%=gameName%>">
            <div class="additional">
                <p class="percent-discount float-right">-<%=discountPercent%>%</p>
                <p class="discout-price float-right">$<%=reducedPrice%></p>
            </div>
        </div>
        <div class="game-name">
            <span class="main"><%=gameName%></span><br>
        </div>
    </a>
</div>