<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Origin Admin</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/responsive.css">
</head>
<body class="admin-page">

    <div class="admin-nav">
        <div class="container">
            <div class="row">
                <div class="logo-img">
                    <img src="img/back.png" height="50px" width="50%" alt="origin-logo">
                </div>
                <div class="row">
                    <div class="admin-img">
                        <img src="img/profile-pic.jfif" width="100%" height="100%" alt="admin-profile-img">
                    </div>
                <div class="admin-info" onclick="showLogout()">
                        <h3>Hey <span>Admin!</span></h3>
                        <div class="logout d-none">
                            <a href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="control-panel">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div>
                        <div class="control-options active" onclick="showAdminPages('dashboard')">DashBoard</div>
                        <div class="control-options" onclick="showAdminPages('showUsers')">Show Users</div>
                        <div class="control-options" onclick="showAdminPages('gameList')">Games List</div>
                        <div class="control-options" onclick="showAdminPages('addGames')">Add Games</div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="dashboard">
                        <h3>Welcome Admin</h3>
                        <h4>Nothing To Show Here</h4>
                    </div>
                    <div class="show-users d-none">
                        <h3>List of All the Users</h3>
                        <div class="content-block">
                            <div class="content-list-box">
                                <% for(let i=0; i<users.length ; i++){ %>
                                    <div class="row users">
                                        <div class="list-item">
                                            <img src="img/profile-pic.jfif" alt="">
                                        </div>
                                        <div class="user-name">
                                            <%= users[i].username %>
                                        </div>
                                        <form action="/removeUser" method="POST">
                                            <button class="remove-user" name="userName" value="<%= users[i].username %>" type="submit" onclick="">+</button>
                                        </form>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="add-games d-none">
                        <h3>Add a new Game</h3>
                        <div class="content-block">
                            <div class="content-list-box">
                                <form action="/admin-input" method="POST" enctype="multipart/form-data" autocomplete="off">
                                    <div>
                                        <h4>General Info</h4>
                                        <input class="medium-box" type="text" name="gameName" placeholder="Game Name" required>
                                        <input class="medium-box" type="text" name="gameGenre" placeholder="Game Genre" required>
                                        <input class="medium-box" type="text" name="gameDesc" placeholder="Game Description" required>
                                        <input class="medium-box" type="text" name="developer" placeholder="Developer's Name" required>
                                        <input class="medium-box" type="text" name="publisher" placeholder="Publisher Name" required>
                                        <input class="medium-box" type="text" name="releaseDate" placeholder="Release Date" required>
                                        <input class="medium-box" type="text" name="rating" placeholder="Rating" required>
                                        <input class="medium-box" type="text" name="platforms" placeholder="Platforms" required>
                                        <input class="medium-box" type="text" name="languages" placeholder="Languages" required><br><br>
                                        <label for="gamePoster" style="color: #f15a24; font-size: 1.2rem;">Game Poster (Potrait):  </label>
                                        <input type="file" name="gamePoster" placeholder="Game Poster" required><br><br>
                                        <label for="gamePosterB" style="color: #f15a24; font-size: 1.2rem">Game Back Img (Landscape):  </label>
                                        <input type="file" name="gamePosterB" placeholder="Game Poster" required>
                                    </div>
                                    <div>
                                        <h4>Game Editions</h4>
                                        <div>
                                            <h5>First Edition</h5>
                                            <input class="medium-box" type="text" name="gameBenigitsName1" placeholder="Head" required>
                                            <input class="medium-box" type="text" name="gameBenifitsPrice1" placeholder="Price" required><br>
                                            <textarea class="bigbox" type="text" name="gameBenifitsBenefit1" rows="5" cols="100%" placeholder="Desc" required></textarea>
                                        </div>
                                        <div>
                                            <h5>Second Edition</h5>
                                            <input class="medium-box" type="text" name="gameBenigitsName2" placeholder="Head" required>
                                            <input class="medium-box" type="text" name="gameBenifitsPrice2" placeholder="Price" required><br>
                                            <textarea class="bigbox" type="text" name="gameBenifitsBenefit2" rows="5" cols="100%" placeholder="Desc" required></textarea>
                                        </div>
                                    </div>
                                    <div>
                                        <h4>System Requiremets</h4>
                                        <div>
                                            <h5>Minimum</h5>
                                            <input class="medium-box" type="text" name="minos" placeholder="Operating System" required>
                                            <input class="medium-box" type="text" name="minMemory" placeholder="Memory" required>
                                            <input class="medium-box" type="text" name="minProcessor" placeholder="Processor" required>
                                            <input class="medium-box" type="text" name="minVideoMem" placeholder="Video Memory" required>
                                            <input class="medium-box" type="text" name="minVideoCard" placeholder="Video Card Name" required>
                                            <input class="medium-box" type="text" name="minSpace" placeholder="Space" required>
                                            <input class="medium-box" type="text" name="minSound" placeholder="Sound" required>
                                        </div>
                                        <div>
                                            <h5>Recommanded</h5>
                                            <input class="medium-box" type="text" name="os" placeholder="Operating System" required>
                                            <input class="medium-box" type="text" name="memory" placeholder="Memory" required>
                                            <input class="medium-box" type="text" name="processor" placeholder="Processor" required>
                                            <input class="medium-box" type="text" name="videoCardMemory" placeholder="Video Memory" required>
                                            <input class="medium-box" type="text" name="videoCard" placeholder="Video Card Name" required>
                                            <input class="medium-box" type="text" name="space" placeholder="Space" required>
                                            <input class="medium-box" type="text" name="sound" placeholder="Sound" required>
                                        </div>
                                    </div>
                                    <button class="submit-data" type="submit">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="game-list d-none">
                        <h3>List of Available Games</h3>
                        <div class="content-block">
                            <div class="content-list-box">
                                <% for(let i=0; i<games.length; i++){ %>
                                    <div class="row users">
                                        <form action="/removeGame" method="POST"></form>
                                            <div class="list-item">
                                                <img src="<%= games[i].imagePath %>" alt="">
                                            </div>
                                            <div class="user-name">
                                                <%= games[i].gameName %>
                                            </div>
                                            <form action="/removeGame" method="POST">
                                                <button class="remove-user" name="gameName" value="<%= games[i].gameName %>" type="submit" onclick="">+</button>
                                            </form>
                                        </form>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="stick-bottom">
        <div class="copyright">
            <span>Copyright &copy; 2020 &#64; Origin Inc.</span>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/jquery.hislide.js" ></script>
    <script src="js/script.js"></script>
</body>
</html>